# ---- .NET build output ----
bin/
obj/
[Dd]ebug/
[Rr]elease/
x64/
x86/
*.dll
*.xll
*.pdb

# ---- Visual Studio / Rider / VS Code ----
.vs/
.vscode/
.idea/
*.user
*.suo
*.userosscache
*.sln.docstates

# ---- NuGet ----
*.nupkg
packages/
project.lock.json

# ---- Divers ----
*.log
Thumbs.db
.DS_Store
